h1, thread {
    font-family: Arial;
    color: #07a;
    font-size: 16px;
    line-height: 150%;
    margin: 0 1em 0px 17px;
}
h2, author { 
    font-family: Arial;
    color: #c92020;
	font-size: 16px;
	line-height: 150%;
    margin: 0; margin-left: 17px;
}
h3, headline { line-height: 145%;
    font-family: Arial;
	color: #2020d0;
	font-size: 16px;
	margin: 0px 0 20px 17px;
}
h4, mf_no { display: none;
}
h5, auth_addr { display: none; 
}
.big_table {
    border: 1px solid #ddd;
    margin-bottom: 16px;
}
.soft_post_num_col{
    border: solid 2px #cf5902;
    font-family: Arial;
    padding: 0;
    background: #666;
    font-weight: 700;
    color: #fff;
    width: 10px;
}
.hard_post_num_col { letter-spacing: 1px;
	font-family: arial;
	display: inline;
	font-size: 11px;
	margin-left: 0;
}
.spacer_col {
    width: 20px;
}
.cat_row {
    border: 2px solid black;
}

td { text-align: center;
}
.todo_ { width: 500px;
	display: block;
	background: white !important;
	color: black;
	border: 2px solid black;
	padding: 12px;
}
.done_ { width: 500px;
	display: block;
	background: #e0f4e0;
	color: black;
	border: 2px solid black;
	padding: 12px;
}
.lean_ { width: 500px;
	display: block;
	background: #fffff4;
	color: black;
	border: 2px solid black;
	padding: 12px;
}
.hide_ { width: 500px;
	display: none;
}
hr {height:6px;
	border-width:0;
	background-color:rgb(32, 143, 143);
	margin: 10px 0;
	width:527px;
}
p { font-weight: 500;
	font-family: Arial ;
	font-size: 14px;
	line-height: 135%;
	padding:0 10px 0 14px;
	margin: 11px 0 0 0;
}
.EmailNo {font-size: 8px;
	color: grey;
	line-height: 50%;
	margin: 3px 0 0 0;
}
ol { font-size: 14px;
	margin-top: 1.3em;
}
.auth-photo { float: left;
	margin: 0 12px 2px 16px;
	border: 2px solid #666 !important;
	padding: 3px;
	margin-top:0px;
	height: 74px;
}
blockquote { background: #f0ffff;
	padding: 0px 6px 12px 8px;
	border: solid gray 1px;
	border-radius: 9px;
}
img.hbpic { padding: 1px;
	border: 1px solid red;
	margin: 8px 10px 10px 8px;
	float: left;
	width: 53px;
	height: 60px;
}
.active:active {background-color: rgb(224, 73, 73);}
.active:focus {background-color: rgb(224, 73, 73);}
